.button {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14;
    -fx-font-weight: 800;
    -fx-background-color: #00C3FF;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-border-radius: 5;
    -fx-padding:  7 20;
}

.text-field {
    -fx-text-fill: #ffffff;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #00C3FF;
    -fx-padding: 5 20;
}

.date-picker {
    -fx-background-color: transparent;
}

.choice-box {
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #00C3FF;
}

.tab-pane:top *.tab-header-area {
    -fx-padding: 0;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #8E0084;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}

.tab {
    -fx-font-color: #ffffff;
    -fx-font-weight: 900;
    -fx-font-size: 14;
    -fx-padding: 0 30 0 30;
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: transparent, transparent, #AA0A9D;
}

.tab:selected {
    -fx-background-color: transparent, transparent, transparent;
}

.tab:focused {
    -fx-background-color: transparent, transparent, transparent;
}





#pane-backround {
    -fx-background-image: url("https://images.unsplash.com/photo-1479152471347-3f2e62a2b2a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZHJvbmV8ZW58MHx8MHx8&w=1000&q=80");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#stack-pane-gradient {
    -fx-background-color: #8E008499
}

#button-green {
    -fx-background-color: 
        white,
        linear-gradient(#36ff78, #36ff78);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 5 30 5 30;
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

#button-blue {
    -fx-background-color: 
        white,
        linear-gradient(#00c3ff, #00c3ff);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 5 30 5 30;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}